
.navbar-header {
  height: 57px;
  background-color: $main-color;
  max-width: 336px;
  width: 100%;
  padding-left: 32px;
  @include box;
  @include flex-align-center;
  &__ico {
    color: #000;
    margin-right: 13px;
    cursor: pointer;
    @include hide;
    @media #{$tablet} {
      display: block;
    }

    &--close {
      @include hide;
    }
  }
  &__title {
    @include  no-marg;
    margin-top: 2px;
    color: white;
    @include HelveticaM;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    @include lg-letter-space;
  }
}